<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180272766150-o8gcvp9sg5r3cvup808gs4cdtidubu79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180272766150-o8gcvp9sg5r3cvup808gs4cdtidubu79</string>
	<key>API_KEY</key>
	<string>AIzaSyCzqEANUTUxDYhce3M05OMYqw8BFhyaVSA</string>
	<key>GCM_SENDER_ID</key>
	<string>180272766150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dreamchat</string>
	<key>PROJECT_ID</key>
	<string>dreamchat-96bf6</string>
	<key>STORAGE_BUCKET</key>
	<string>dreamchat-96bf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180272766150:ios:398c4548f8ef487a1b8bc7</string>
</dict>
</plist>